.blog {
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: $breakpoint-large) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $breakpoint-extralarge) {
    grid-template-columns: repeat(5, 1fr);
  }
}
