.grid {
  padding: 2.5em 1.5em;

  &__wrapper {
    background-color: #F4F5F9;
    border-radius: 7px;
    border-top: 1px solid lighten($color-text-alt, 70%);
    border-left: 1px solid lighten($color-text-alt, 70%);

    @media (min-width: $breakpoint-large) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  @media (min-width: $breakpoint-extralarge) {
    padding: 2.5em 5em;
  }
}
