# Wordpress config file
wp-config.php

# Wordpress folders
/wp
/vendor
/content/*
!/content/themes
!/content/uploads
!/content/plugins
/content/plugins/*
!/content/plugins/hello-myprofile
!/content/plugins/redirect-to
!/content/plugins/myprofile-settings
/content/themes/*
!/content/themes/myprofile
