* {
  box-sizing: border-box;
}

body {

  &.menu-visible {
    .wrapper {
      filter: blur(8px);
    }
    .menu {
      display: unset;
    }
  }
}

a {
  text-decoration: none;
  color: $color-text;
}
