* {
  box-sizing: border-box;
}

body {
  background-color: darkcyan;

  &.menu-visible {
    .wrapper {
      filter: blur(8px);
    }
    .menu {
      visibility: visible;
    }
  }
}

a {
  text-decoration: none;
  color: $color-text;
}
