.contact-form {

  &__section {

    &__label {
      display: inline-block;
      font-weight: 600;
      font-size: 1.02em;
      margin-bottom: 0.4em;
    }

    &__input {
      width: 100%;
      border: none;
      background-color: lighten($color-bg-footer, 10%);
      margin-bottom: 1em;
      color: $color-text;
      padding: 0.7em 0.4em;
      font-size: 1.02em;
    }
  }

  &__submit {
    cursor: pointer;
    font-weight: 600;
    border: none;
    padding: 0.8em 1.2em;
    background-color: $color-text;
    transition: $duration-fast;

    &:hover {
      background-color: lighten($color-bg-footer, 10%);
      color: $color-text;
    }
  }

  @media (min-width: $breakpoint-extralarge) {
    display: inline-block;
    padding: 1.8em;
    border-right: 2px solid lighten($color-bg-footer, 10%);

    &__section:nth-of-type(2),
    &__section:nth-of-type(3) {
      display: inline-block;
      width: 45%;
    }

    &__section:nth-of-type(3) {
      float: right;
    }
  }
}
